<div id="up-to-top" class="row">
    <div class="small-12 columns" style="text-align: right;">
      <a class="iconfont" href="#top-of-page">&#xf108;</a>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->
<footer id="footer-content" class="bg-grau">
    <div id="footer">
        <div class="row large-offset-1">
            <ul class="no-bullet shadow-black">
                {% for footer_item in site.data.footer %}
                {% if footer_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
            
                    <div class="small-6 medium-3 large-3 columns">
                            <li {% if footer_item.class %}class="{{ footer_item.class }}" {% endif %}>
                                <a href="{{ domain }}{{ footer_item.url }}" {% if footer_item.url contains 'http' %}target="_blank" {% endif %} title="{{ footer_item.title }}">{{ footer_item.name }}</a>
                            </li>
                    </div>
                {% endfor %}
            </ul>
        </div>  <!--/.row -->
    </div><!-- /#footer -->
</footer>