---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div class="row t60" >
    <div class="medium-12 columns">
        <h1><center>Добре дошли на страницата на <br/>българско училище „Дора Габе“ в Мюнхен!</center></h1>  
    </div>
      <div class="medium-12 columns t30"> 
        <strong>История:</strong><br/>
        Нашето училище е създадено през 2013г. от инициативни учители и родители, които учредяват сдружение с нестопанска цел, уставът на което може да прочетете тук. <a href="/content/Satzung.pdf" target="_blank">Устав на училище Дора Габе/Satzung</a><br/>
        През 2015г. училище „Дора Габе“ в Мюнхен е включено в официалния „Списък на българските неделни училища в чужбина“ и работи съгласно изискванията на МОН България.<br/>
        През годините успяхме да се утвърдим като средище на духовност, култура и просвета – място за смислени срещи с дейци на културата и образованието.<br/>
        Родолюбие, любословие, почит, признание, гордост са само част от нашите пътеводители през годините към изграждането на доверие, поддържането на нестихващ интерес към „всичко българско и родно, което любим, тачим и милеем“. <br/><br/>
        <strong>Предимства:</strong><br/>
        <ul>
            <li>Присъствено едносменно обучение на деца и юноши на възраст между 3 и 18 години в една училищна сграда</li>
            <li>При успешно завършена учебна година, учениците получават удостоверения за завършен клас и владеене на български език, литература, история и география на България със съответния хорариум. С този документ, отпада изискването за приравнителен изпит по съответния учебен предмет, в случай на желание за продължаващо обучение в България или прехвърляне в други неделни училища.</li>
            <li>Обучение от сертифицирани преподаватели и педагози</li>
            <li>първия административен и изпитен център за ниво на владеене на български език като чужд в Бавария, съвместно с ДЕО към Софийския университет.</li>
            <li>Работата ни се основава на адаптирани съвременни модели на обучение, съгласно изискванията на МОН и съвместно с дигитални платформи като „Уча се“, „е-Просвета“ и други.</li>
            <li>Награда от „Уча се“ за иновативно българско училище зад граница.</li>
        </ul>
        <strong>Нашата цел</strong> е да обучаваме децата в знания и познания по български език, литература, история и география на България.<br/>
        <strong>Нашата мисия</strong> е да предоставим повече възможности на децата с български корен:
        <ul>
            <li> да се докоснат до магията на българската реч</li>
            <li> да изричат българското слово с гордост и да го разпространяват с мъдрост</li>
            <li> да пеят със звънливи гласчета детки песни</li>
            <li> да усетят магията на звучната българска музика</li>
            <li> да танцуват в неравноделни ритми под звуците на български фолклорни инструменти</li>
            <li> да се потопят в тайнството на българския дух, традиции и култура</li>
            <li> да познават българските обичаи</li>
            <li> да сплитат прежда и конци</li>
            <li> да украсяват дрянови клонки</li>
            <li> да изградят силна и неразривна връзка с други български деца</li>
        </ul>
        <strong>Нашият общ устрем</strong> е да изградим своеобразен мост към един богат и пъстър свят на познание, към едно осъзнато свързване, раждащо благодарност, съпричасност и отдаденост.<br/>
        Ние сме - нашите деца!<br/>
        Ние сме – Българско училище в Мюнхен „Дора Габе“ – училище мечта!<br/>
        </div>
        
      <div class="medium-8 columns t30"> 
        Скъпи приятели,  <br/>
        
        с радост споделяме още едно признание за работата ни, а именно <strong>наградата за БУ Дора Габе от  "Уча се" за иновативно българско училище зад граница.</strong>
        Нашият специален училищен код е: <strong>doragabe</strong>. С него можете да добавите още един <strong>допълнителен безплатен месец</strong>, към активния си абонамент.   
        <br/>
        Приятно учене :)  <br/>
        </div>
        <div class="medium-4 columns t30">
            <a href="{{ site.urlimg }}uchase_kod.png" target="_blank"><img src="{{ site.urlimg }}uchase_kod-tumb.png" alt=""></a>
            <a href="{{ site.urlimg }}uchase_kod2.png" target="_blank"><img src="{{ site.urlimg }}uchase_kod2-tumb.png" alt=""></a>        
                
      </div>
</div>


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:2 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
